################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeagueTracker/TournamentTracker/.vs/TournamentTracker/FileContentIndex/01809d10-7b0f-4cb3-acb8-43a449165665.vsidx
/LeagueTracker/TournamentTracker/.vs/TournamentTracker/FileContentIndex/34926402-4a38-480b-a41b-ec355cd434d0.vsidx
